- var lang = "cs";

- var title = "AC Energo spol. s.r.o. - Komplexní řešení v oblasti měření a regulace";

- var metaDescription = "AC Energo spol. s.r.o. - Komplexní řešení v oblasti měření a regulace";

- var metaKeywords = "";

- var metaAuthor = "Eline.cz";

- var metaAuthorURL = "http://eline.cz";

- var metaURL = "https://acenergo.cz";

- var metaSitename = "acenergo.cz";


- var URLbase = "";


- var metaTwitterName = "@acenergo";

- var metaTwitterImg = URLbase+"img/placeholder-200x200.png";

- var metaFacebookName = "acenergo";

- var metaYoutubeName = "acenergo";

- var metaInstagramName = "acenergo";



- var ProductName = "Micro panel lorem ipsum dolor sit amet lorem";